body{
    background-color: #9fbee3;
    color: white;
    margin: 5%;
}
#eco{
    color: blue;
    text-align: center;
    font-size: 4rem;
    padding-top: 20px;
}
  .title{
    color: cian;
    text-align: center;
    font-size: 25px;
}
  .equipe{
    color: blue; 
    text-align: center;
    font-size: 20px;
}
  .text{
    text-align: center;
    font-size: 20px;
}
